body{
    background-color: AliceBlue;
}

body.index{
    background: url(./photos/background.png);
    background-size: cover;
}

td {
    padding: 10px;
}

th, td {
    text-align: center;
}

div{
    background-color:yellow
}