body.texto{
    background-color: AliceBlue;
    margin-left: 1%
}

body.index{
    background: url(./photos/background.png);
    background-size: cover;
}

div.h1{
    margin-top: 5%
    border: 1% solid lightgrey;
    border-left: 12px solid yellow;
    background-color: lightgrey;

}

table, th, td {
    border: solid AliceBlue;
}

tr {
    padding: 100%;
}

td {
    padding: 0%;
    text-align: center;
    white-space: nowrap;
}