body{
    background-color: AliceBlue;
    margin-left: 10%
}

body.index{
    background: url(./photos/background.png);
    background-size: cover;
}

div.h1{
    background-color:yellow
}

th, td {
    padding: 1%;
    text-align: center;
}